@import 'nib/normalize'
//@import 'nib/gradients'
@import 'nib/image'

@import 'sprite';

normalize-css();

retinaSprite($retina_group) {
	$normal_sprite = $retina_group[1];
	$retina_sprite = $retina_group[2];
	if !match('hover', selector()) && !match('active', selector()){
		spriteImage($normal_sprite)
	}
	display block
	spritePosition($normal_sprite);
	spriteWidth($normal_sprite);
	spriteHeight($normal_sprite);
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi){
		if !match('hover', selector()) && !match('active', selector()){
			spriteImage($retina_sprite)
		}
		spriteBackgroundSize($normal_sprite)
	}
}


orange = #f39200;
gray = #5d5d5d;
grey-dark = #3f3b3a;

green = #8ac44c;

main-gradient = linear-gradient(to bottom, #ffffff 0%, #f6f6f6 100%);

p, h1, h2, h3
	margin 0


body
	font-family 'Open Sans', sans-serif
	color:  gray
	background #f6f6f6

.hide
	display none

.list
	margin 0
	padding 0
	list-style none

.bg
	min-width 960px
	overflow hidden
.container
	width 960px
	margin auto
	position relative

.icon
	&_pointer
		retinaSprite($s_icon_pointer_group)
	&_mail
		retinaSprite($s_icon_mail_group)
	&_like
		retinaSprite($s_icon_like_group)
	&_note
		retinaSprite($s_icon_note_group)
	&_clock
		retinaSprite($s_icon_clock_group)
	&_headphones
		retinaSprite($s_icon__headphones_group)
	&_monitor
		retinaSprite($s_icon__monitor_group)
	&_copy-file
		retinaSprite($s_icon__copy_file_group)
	&_shield
		retinaSprite($s_icon__shield_group)
	&_servers
		retinaSprite($s_icon_servers_group)
	&_access
		retinaSprite($s_icon__access_group)
	&_gears
		retinaSprite($s_icon__gears_group)
	&_boss
		retinaSprite($s_icon__boss_group)

.logo
	&_header
		padding-top 19px
	&_white
		.logo
			&__img
				retinaSprite($s_logo_white_group)
			&__title
				color #fff
	&__img
		retinaSprite($s_logo_group)
	&__title
		font-size: 12px;
		font-weight normal
		font-weight: 300
		padding-top: 4px
		line-height 1.2em
		letter-spacing: -.03em

.btn
	border-radius 3px
	background: linear-gradient(to bottom, #0da1de 0%, #0c81b2 100%)
	color #fff
	outline none
	display block
	border none
	font-size 14px
	font-weight 600
	line-height 1em
	padding 0
	letter-spacing -.03em
	height 48px
	width 100%
	box-shadow: 0px 1px 1px 0px rgba(1, 2, 2, 0.47);
	&:active
		background: linear-gradient(to bottom, #0c81b2 0%, #0da1de 100%)
	&_red
		background: linear-gradient(to bottom, #e30613 0%, #c30511 100%)
		&:active
				background: linear-gradient(to bottom, #c30511 0%, #e30613 100%)


.header
	background: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%)
	.container
		display flex
		justify-content space-between
		padding-bottom 15px
	&__right{
		display flex
	}
	&__list
		padding-top 18px
		.list
			&__icon
				margin-right 5px
			&__item
				display flex
				align-items center
				justify-content flex-end
				margin-bottom 10px
				&:last-child
					margin-bottom 0
			&__text
				font-size 12px
				line-height 1.2em
				letter-spacing -.03em
			&__link
				color orange
				text-decoration none
				position relative
				&:after
					position absolute
					border-bottom 1px dashed orange
					content ' '
					left 0
					right 0
					bottom 1px

.callback
	padding-top 14px
	margin-left 39px
	display flex
	flex-direction column
	align-items flex-end
	&_footer
		margin-left 0
		padding-top 0
		margin-top -4px
		.callback
			&__title
				color #fff
			&__link
				font-weight normal
				color green;
				font-size 30px
				line-height 1.2em
				margin-bottom 25px
			&__phone
				line-height inherit
				letter-spacing inherit
			&__btn
				width 238px
				height 48px
				font-weight normal
				letter-spacing 0
			&__code
				line-height inherit
				margin 0
				font-size inherit
	&__link
		color gray
		font-weight 600
		text-decoration none
		display flex
		margin-bottom 7px
	&__title
		font-size 24px
		line-height 1.2em
		margin-bottom 8px
	&__code
		font-size 18px
		line-height 1.3em
		margin-right 6px
	&__phone{
		font-size 30px
		line-height 1em
		letter-spacing -.03em
	}
	&__btn
		height 30px
		width 140px

.nav
	display flex
	justify-content center
	padding-top 15px
	padding-bottom 79px
	&__list
		display flex
		border-radius 3px
		overflow hidden
	&__item
		padding-right 1px
		position relative
		&:after
			content ' '
			position absolute
			top 0
			bottom 0
			width 1px
			right 0
			background linear-gradient(to bottom, #eee 0%, #f6f6f6 100%)
		&:last-child
			padding-right 0
			&:after
				display none
	&__link
		font-size 12px
		font-weight 600
		color orange
		line-height 1em
		padding 22px 28px
		display block
		text-transform uppercase
		text-decoration none
		background main-gradient
		&:hover
			color #fff
			background linear-gradient(to bottom, #ff9900 0%, #e68b01 100%)

.utp
	border-top 4px solid gray
	image: '../img/header_bg.jpg'
	background-size cover
	padding-bottom 23px
	.container
		clearfix();
	&__left
		width 586px
		float: left
	&__right
		float right
	&__title
		display flex
		flex-direction column
		align-items flex-start
		span
			display block
			font-family 'Roboto'
			background rgba(231, 231, 231, 0.87)
		&_1,
		&_3
			font-weight normal
			font-size 24px
			color grey-dark
			line-height 1.2em
			font-style italic
		&_1
			padding 3px 21px 9px 11px
		&_2
			font-size 42px
			line-height 1.2em
			color #122d4a
			padding: 7px 41px 11px 19px;
			letter-spacing: -.014em;
			text-transform uppercase
			margin-left 35px
		&_3
			padding 5px 21px 7px 10px
			margin-left 70px
	&__list
		margin-top 75px
		display flex
		width 100%
		justify-content space-between
		.list
			&__icon
				&__wrap
					display flex
					justify-content center
					align-items center
					width 65px
					height 65px
					margin -33px auto 15px
					border-radius 50%
					box-shadow: 0px 3px 7px 0px rgba(1, 2, 2, 0.17);
					&_blue
						background #0ba1df
					&_orange
						background #ff9900
					&_green
						background green
			&__item
				width 182px
				background: main-gradient
				border-radius: 3px
				box-shadow: 0px 11px 21px 0px rgba(1, 2, 2, 0.17)
				padding 0 15px 12px
				box-sizing border-box
			&__text
				text-align center
			&__title
				font-size 16px
				line-height 1.2em
				font-weight 600
				letter-spacing -.03em
				text-size-adjust: none;
				color grey-dark
				margin-bottom 5px
			&__descr
				font-size: 13px;
				font-weight: 400;
				line-height: 18px;

	&__btn
		margin-top 12px


.form
	background: main-gradient
	box-shadow: 0px 11px 21px 0px rgba(1, 2, 2, 0.17);
	border-radius 4px
	padding-top 13px
	padding-left 18px
	padding-right 18px
	width: 275px;
	padding-bottom 20px
	box-sizing border-box
	position relative
	&__done{
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		display none
		border-radius 4px
		overflow hidden
		&__p{
			position absolute
			top 0
			left 0
			right 0
			bottom 0
			background: main-gradient
			display flex
			align-items center
			text-align center
			font-size 18px
		}
	}
	&_sale
		margin-right: 29px;
		margin-top: -4px;
	&_popup
		margin auto
		width 304px
		position relative
		padding-bottom 19px
		.btn
			width 180px
			height 48px
			margin auto
	&_calc
		margin-top -14px;
		padding-top 8px
		width 304px
		padding-bottom 0
		.form__title
			margin-bottom 9px
	&__title
		color grey-dark
		font-size 36px
		line-height 1.2em
		text-align center
		font-family 'PT Sans Narrow'
		margin-bottom 12px
	&__descr
		letter-spacing -.03em
		font-size 14px
		line-height 1.2em
		text-align center
		margin-bottom 18px
	&__btn
		margin-top 7px

.input
	border-radius: 3px
	border 1px solid #eee
	background-color:  #ffffff;
	padding 0 12px
	color gray
	font-size: 14px
	width: 100%
	height: 35px
	box-sizing border-box
	outline none
	margin-bottom 6px
	&.success
		border-color green
	&.error
		border-color red
	&::-webkit-input-placeholder {
		color: grey;
	}
	&:-moz-placeholder {
		color: grey;
	}
	&::-moz-placeholder {
		color: grey;
	}
	&:-ms-input-placeholder {
		color: grey;
	}
	&__wrap
		padding 18px
		margin-left -18px
		margin-right -18px
		border-top 1px solid #eee
		border-bottom 1px solid #eee
		margin-bottom 23px

.calc
	border-top 1px solid #eee
	border-bottom 1px solid #eee
	@extend .list
	margin-left -18px
	margin-right -18px
	padding 18px 20px 17px
	&__item
		display flex
		justify-content space-between
		flex-wrap nowrap
		align-items center
		margin-bottom 5px
		&:last-child
			margin-bottom 0
	&__label
		font-size 14px
		line-height 1.2em
		letter-spacing -.02em
		-webkit-appearance: none;
	&__spec
		height 71px
		display none
		span
			padding 0 20px
			text-align center
			color green
			height 100%
			font-size 14px
			align-items center
			display flex
	&__input
		width 41px
		box-sizing border-box
		border 1px solid #eee
		padding-left 11px
		border-right none
		border-top-left-radius 2px
		border-bottom-left-radius 2px
		font-size 16px
		height 37px
		outline none
		&__wrap
			display flex
	&__controll
		padding 0
		border 1px solid #eee
		box-sizing border-box
		width 31px
		height 20px
		background #fff
		outline none
		display flex
		justify-content center
		align-items center
		&:after
			content ' '
		&_down
			border-top none
			height 17px
			&:after
				retinaSprite($s_calc__button__down_group)
			&:hover:after
				retinaSprite($s_calc__button__down_hover_group)
		&_up
			&:after
				retinaSprite($s_calc__button__up_group)
			&:hover:after
				retinaSprite($s_calc__button__up_hover_group)
		&__wrap
			display flex
			flex-direction column
	&__total
		text-align center
		color green
		font-size 24px
		line-height 1.2em
		padding-top 19px
		padding-bottom 22px
		&__price
			font-size 30px
			font-weight bold
			padding 0 5px

.sale
	border-top 4px solid grey-dark
	background linear-gradient(to bottom, #95d352 0%, #7fb447 100%)
	.container
		padding-top 42px
		padding-bottom 38px
	&__row
		display flex
		justify-content space-between
	&__img
		-webkit-filter drop-shadow(-54px 15px 15px rgba(0,0,0,0.3))
		position absolute
		left 12px
		bottom -2px
	&__left
		margin-left 277px
	&__title
		retinaSprite($s_sale__title__bg_group)
		font-family 'PT Sans Narrow'
		box-sizing border-box
		color:  #d9502d;
		font-size: 36px;
		padding-left: 43px;
		padding-top: 7px;
		position relative
		margin-bottom 27px
	&__list
		margin-left 35px
		.list
			&__item
				margin-bottom 9px
				display flex
				&:last-child
					margin-bottom 0
			&__text
				box-shadow: 0px 5px 8px 0px rgba(1, 2, 2, 0.17);
				background linear-gradient(to bottom, #fff, #f6f6f6)
				font-size 18px
				line-height 1.2em
				padding-left 13px
				padding-right 15px
				padding-top: 5px;
				padding-bottom: 4px;
				letter-spacing: -.024em;

.hr
	display flex
	justify-content center
	align-items center
	&:after,
	&:before
		content ' '
		display block
		height 1px
		width 190px
		background #d0d0d0
	&__dot
		width 14px
		height 7px
		background #b7b7b7
		margin 0 10px

.title
	font-size: 36px
	font-family 'PT Sans Narrow'
	color grey-dark
	line-height 1.2em
	text-align center
	padding-top 15px
	margin-bottom 10px

.services
	border-top 4px solid grey-dark
	padding-bottom 4px
	&__list
		display flex
		flex-flow row wrap
		justify-content space-between
		padding-top 43px
		.list
			&__item
				clearfix();
				width 425px
				margin-bottom 37px
				&:hover
					.icon
						&_headphones
							retinaSprite($s_icon__headphones_hover_group)
						&_monitor
							retinaSprite($s_icon__monitor_hover_group)
						&_copy-file
							retinaSprite($s_icon__copy_file_hover_group)
						&_shield
							retinaSprite($s_icon__shield_hover_group)
						&_servers
							retinaSprite($s_icon_servers_hover_group)
						&_access
							retinaSprite($s_icon__access_hover_group)
						&_gears
							retinaSprite($s_icon__gears_hover_group)
						&_boss
							retinaSprite($s_icon__boss_hover_group)
					.list
						&__title
							color #f39200
						&__text
							margin-left 22px
						&__icon
							&__wrap
								margin-left -5px
								margin-top -5px
								border 2px solid #d0d0d0
								background-color:  #ffffff
								width: 84px;
								height: 84px;
								box-shadow: none
								&:after
									content ' '
									position absolute
									top 50%
									left 50%
									border-radius: 50%;
									border 3px solid #f39200
									width: 74px;
									box-sizing border-box
									height: 74px;
									margin-left -37px
									margin-top -37px

			&__icon
				&__wrap
					border-radius: 50%;
					border-width: 3px;
					background-color:  green;
					box-shadow: 0px 3px 7px 0px rgba(1, 2, 2, 0.17);
					width: 74px;
					height: 74px;
					box-sizing border-box
					display flex
					justify-content center
					align-items center
					float left
					position relative
			&__title
				font-size: 16px;
				font-weight: 600;
				line-height 1.2em
				margin-bottom 10px
				margin-top -3px
				min-height 38px
				letter-spacing -.5px
			&__descr
				font-size 14px
				line-height: 1.5em;
				letter-spacing: -.025em;
			&__text
				width 324px
				margin-left 27px
				float left

.we
	background #e7e7e7
	padding-bottom 6px
	&__descr
		font-size 14px
		line-height 21px
		text-align center
		margin-bottom 54px
	&__list
		&_line
			padding-top 58px
			display flex
			margin-left 10px
			margin-right 10px
			margin-bottom 35px
			border-bottom 4px solid green
			justify-content space-between
			.list
				&__item
					display flex
				&__text
					text-align right
					padding-top 2px
				&__count
					font-size 60px
					line-height 50px
					margin-bottom 16px
				&__descr
					font-size 14px
					line-height 1.2em
					height 95px
				&__icon
					-webkit-filter drop-shadow(2px 4px 5px rgba(0,0,0,0.21))
					//filter url(shadow.svg#drop-shadow)
					&__wrap
						display flex
						height 72px
						align-items center
						margin-left 17px
						position relative
						&:after
							content ' '
							position absolute
							top 89px
							height 75px
							border-left 1px dashed green
							left 50%
		&_circle
			padding-bottom 40px
			padding-left 10px
			padding-right 10px
			display flex
			justify-content space-between
			.list
				&__item
					width 182px
					height 182px
					position relative
					display flex
					justify-content center
					align-items center
					&_1
						.list__icon
							margin-left -29px
							top -37px
						.list__content
							padding-top 60px
						.circle
							transform: rotate(-90deg)
							&__spinner
								transform: rotate(267deg)
					&_2
						.list__icon
							margin-left -65px
							top -34px
						.circle
							transform: rotate(-30deg)
							&__spinner
								transform: rotate(281deg)
					&_3
						.list__icon
							margin-left -24px
							top -37px
						.circle
							transform: rotate(-114deg)
							&__spinner
								transform: rotate(194deg)
					&_4
						.list__icon
							margin-left -26px
							top -34px
						.circle
							transform: rotate(-52deg)
							&__spinner
								transform: rotate(190deg)
				&__content
					border-radius 50%
					background green
					width 160px
					height 160px
					position relative
					z-index 400
					box-sizing border-box
					padding 50px 9px 0
				&__icon
					-webkit-filter drop-shadow(2px 4px 5px rgba(0,0,0,0.21))
					//filter url(shadow.svg#drop-shadow)
					position absolute
					left 50%
				&__text
					color #fff
					text-align center
					font-size: 14px;
					line-height: 19px;
					letter-spacing -.02em


.circle
		left 0
		right 0
		top 0
		bottom 0
		position absolute
		&__pie
			width: 50%;
			height: 100%;
			position: absolute;
			background: none;
			box-sizing border-box
			transform-origin: 100% 50%;
			border: 4px solid green;
		&__spinner
			border-radius: 91px 0 0 91px;
			z-index: 200;
			border-right: none;
			transform: rotate(180deg)
			&:after
				top: -11px;
				right: -8px;
				content ' '
				border 4px solid green;
				background:  #ffffff;
				box-sizing border-box
				width 16px
				position absolute
				height 16px
				border-radius 50%
		&__filler
			border-radius: 0 91px 91px 0;
			z-index: 100;
			border-left: none;
			left: 50%;
		&__full
			height 100%
			width 100%
			box-sizing border-box
			border: 4px solid #d0d0d0;
			border-radius 50%

.how
	padding-bottom 62px
	&__list
		display flex
		flex-direction row-reverse
		justify-content center
		margin-left 42px
		margin-right 42px
		&_first
			flex-direction row
			border 1px dashed green
			border-radius 40px
			position relative
			padding-bottom 183px
			margin-top 191px
			&:before
				content ' '
				position absolute
				top -2px
				bottom -2px
				left -2px
				width 158px
				background #f6f6f6
			&:after
				content ' '
				position absolute
				height 4px
				bottom -2px
				left -2px
				width 298px
				background #f6f6f6
		.list
			&__item
				width 186px
				padding 0 50px
				position relative
				z-index 5
				margin-top -141px
			&__icon
				-webkit-filter drop-shadow(2px 4px 5px rgba(0,0,0,0.21))
				//filter url(shadow.svg#drop-shadow)
				&__wrap
					height 95px
					width 100%
					display flex
					align-items center
					justify-content center
			&__number
				border-radius: 50%;
				background: main-gradient
				box-shadow: 0px 3px 7px 0px rgba(1, 2, 2, 0.17);
				width: 50px;
				height: 50px;
				line-height 50px
				text-align center
				margin 21px auto 25px
			&__text
				font-size 14px
				line-height 19px
				text-align center

.social
	display flex
	margin-top 37px
	&__item
		margin-right 9px
		width 48px
		height 48px
		background: linear-gradient(to bottom, #95d452 0%, #7eb345 100%)
		border-radius 3px
		&:last-child
			margin-right 0
	&__link
		width 100%
		height 100%
		display block
		&_fb
			retinaSprite($s_icon_fb_group)
		&_vk
			retinaSprite($s_icon_vk_group)
		&_google
			retinaSprite($s_icon_google_group)
		&_tw
			retinaSprite($s_icon_tw_group)

.footer
	background #3f3b3a
	border-top 4px solid orange
	padding-top 30px
	padding-bottom 30px
	.container
		display flex
		justify-content space-between

.mfp-close-btn-in .mfp-close
	width 32px
	height 32px
	line-height 32px
	border-radius 50%
	box-shadow: 0px 3px 7px 0px rgba(1, 2, 2, 0.18);
	background #fff
	top -16px
	right -16px
	opacity 1

.my-mfp-slide-bottom .zoom-anim-dialog
	opacity: 0;
	transition: all 0.2s ease-out;
	transform: translateY(-20px) perspective( 600px ) rotateX( 10deg )

.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog
	opacity: 1;
	transform: translateY(0) perspective( 600px ) rotateX( 0 );

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;
	transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}
